<div class="container p-4" >
    <div class="row mt-5" style="column-gap: 3rem;">
        <div class="col-sm text-center topCols">
            Titre
         
        </div>
        <div class="col-sm text-center topCols">
            Titre
         
        </div>
        <div class="col-sm text-center topCols">
            Titre
        </div>
    </div>
    <!-- grid 2  -->
    <div class="row mt-3" style="column-gap: 3rem;">
        <div class="col-sm text-center topCols" style="height: 500px;">
            <canvas id="chart1"></canvas>
         
        </div>
        <div class="col-sm text-center topCols" style="height: 200px;">
            <canvas id="chart2"></canvas>
        </div>
        <div class="col-sm text-center topCols" style="height: 200px;">
            <canvas id="chart3"></canvas>
        </div>
    </div>
    <!-- grid 3 -->
    <div class="row mt-3" style="column-gap: 3rem;">
        <div class="col-sm text-center ">
            
        </div>
        <div class="col-sm text-center topCols" style="margin-top: -280px;height:30px;">
            Titre
         
        </div>
        <div class="col-sm text-center topCols" style="margin-top: -280px;height:30px;">
            Titre
        </div>
    </div>
    <!-- grid 4 -->
    <div class="row mt-3" style="column-gap: 3rem;">
        <div class="col-sm text-center ">
            
        </div>
        <div class="col-sm text-center topCols" style="height: 200px;margin-top: -230px;">
            <canvas id="chart4"></canvas>
         
        </div>
        <div class="col-sm text-center topCols" style="height: 200px;margin-top: -230px;">
            <canvas id="chart5"></canvas>
        </div>
    </div>
</div>