<div>
    <img src="../../assets/modals/close.png" class="closeImg" (click)="close()"/>
    <br/>  <br/> <br/>
        <div class="row">
            <div class="col-sm secondDiv">
                Ancien Mot de Passe
              </div>
              <div class="col-sm secondDiv">
                <input type="password" class="newName" placeholder="****************"/>
              </div>
          <div class="w-100"></div>
          <div class="col-sm secondDiv">
            Nouveau Mot de passe
          </div>
          <div class="col-sm secondDiv">
            <input type="password" class="newName" placeholder="****************"/>
          </div>
          <div class="w-100"></div>
          <div class="col-sm secondDiv">
            Confirmer Mot de passe
          </div>
          <div class="col-sm secondDiv">
            <input type="password" class="newName" placeholder="****************"/>
          </div>
     
          <button class="changePhoto">Changer</button>
        </div>
</div>