<nav class="sidebar sidebar-offcanvas h-100 navigat" id="sidebar">
    <ul class="nav">
      <li [class]="activateNavigation('stats')" style="margin-top: 50%;">
        <a class="nav-link" [routerLink]="['/']" (click)="changeNavigation('stats')">
          <span class="menu-icon">
            <img src="../../../assets/icon/home.svg"/>
          </span>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li [class]="activateNavigation('profile')" >
        <a class="nav-link" [routerLink]="['/profile']" (click)="changeNavigation('profile')">
          <span class="menu-icon">
            <img src="../../../assets/icon/user.svg"/>
          </span>
          <span class="menu-title">Mon profile</span>
        </a>
      </li>
      <li [class]="activateNavigation('rapport')" >
        <a class="nav-link" [routerLink]="['/rapport']" (click)="changeNavigation('rapport')">
          <span class="menu-icon">
            <img src="../../../assets/icon/rapport.svg"/>
          </span>
          <span class="menu-title">Rapports</span>
        </a>
      </li>
      
      <!-- <li class="nav-item menu-items" hidden={!(userConnected.is_superuser)}>
        <a class="nav-link" href="pages/charts/chartjs.html">
          <span class="menu-icon">
            <img src="../../../assets/icon/calendar.svg"/>
          </span>
          <span class="menu-title">Calendrier</span>
        </a>
      </li> -->
      <li class="nav-item menu-items" [class]="activateNavigation('archive')">
        <a class="nav-link" [routerLink]="['/archive']" (click)="changeNavigation('archive')">
          <span class="menu-icon">
            <img src="../../../assets/icon/archive.svg"/>
          </span>
          <span class="menu-title">Archive</span>
        </a>
      </li>
     
      <li [class]="activateNavigation('usersList')" *ngIf="userConnected.is_superuser">
        <a class="nav-link" [routerLink]="['/usersList']" (click)="changeNavigation('usersList')">
          <span class="menu-icon">
            <img src="../../../assets/icon/rapport.svg"/>
          </span>
          <span class="menu-title">Liste des Utilisateurs</span>
        </a>
      </li>
      <li [class]="activateNavigation('registerUser')" *ngIf="userConnected.is_superuser">
        <a class="nav-link" [routerLink]="['/registerUser']" (click)="changeNavigation('registerUser')">
          <span class="menu-icon">
            <img src="../../../assets/icon/rapport.svg"/>
          </span>
          <span class="menu-title">Ajouter un Utilisateur</span>
        </a>
      </li>
     </ul>
  </nav>