<div>
    <img src="../../assets/modals/close.png" class="closeImg" (click)="close()"/>
    <br/>  <br/> <br/>
        <div class="row">
          <div class="col-sm">
            Ancien Nom
          </div>
          <div class="col-sm">
            Baccari Iheb
          </div>
          <div class="w-100"></div>
          <div class="col-sm secondDiv">
            Nouveau Nom
          </div>
          <div class="col-sm secondDiv">
            <input type="text" class="newName" placeholder="Exemple Exemple"/>
          </div>
          <button class="changePhoto">Changer</button>
        </div>
</div>