<div>
    <img src="../../assets/modals/close.png" class="closeImg" (click)="close()"/>
    <br/>  <br/> <br/>
        <div class="row">
          <div class="col-sm">
            Ancien Nom
          </div>
          <div class="col-sm">
            {{userConnected?.first_name}} {{userConnected?.last_name}}
          </div>
          <div class="w-100"></div>
          <div class="col-sm secondDiv">
            Nouveau Nom
          </div>
          <div class="col-sm secondDiv">
            <input type="text" class="newName" name="username" (change)="changeInput($event)" placeholder="Exemple Exemple"/>
          </div>
          <button class="changePhoto" (click)="modifyProfileInformation(userConnected)">Changer</button>
        </div>
</div>