<div>
    <img src="../../assets/modals/close.png" class="closeImg" (click)="close()"/>
    <input type="file" accept=".jpg" #file (change)="uploadProfilePhoto(userConnected, file.files)" hidden="true">
    <div class="main">
        <img src="../../assets/modals/user.png" class="avatar"/><br/>
        <h6 class="textPhoto">
            sélectionner une photo
        </h6>
        <img src="../../assets/modals/upload.png" class="uploadImg" (click)="file.click()"/><br/>
        <button class="changePhoto" (click)="file.click()">Changer</button>
    </div>
</div>