.telnetLogo{
    margin-top: 50px;
    margin-right: 90px;
}
.profile{
    margin-left: 80px;
}
.imgProfile{
    margin-left: 50px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
.changePicture{
    position: absolute;
    margin-left: 50px;
    margin-top: 90px;
    background-color: #2a2a2a;
    color: white;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    opacity: 88% !important;
}
.profileInformations{
    border: 1px solid #707070;
    width: 900px;
    background-color: #2a2a2a;
    opacity: 88%;
    margin-top: 20px;
    margin-left: 180px;
}
table, tr, td {
    width: 100%;
    border-top: 1px solid #5A5A5A;
    color:white;
    border-bottom: 1px solid #5A5A5A;
}
td{
    padding: 20px;
}
.btn-modif{
    border: none;
    color:white;
    background:none;
}