<div class="import" >
<br/><br/><br/><br/>
<input type="file" accept=".csv" #file hidden (change)="uploadCSVFile(file.files)">
<button class="btn-modif" (click)="file.click()">Sélectionner un fichier</button>
<br/><br/>
<div class="table-responsive" >
<table class="table text-white">
    <thead>
        <th scope="col" style="color: white">Manage</th>
        <th scope="col" style="color: white">Date and TimeStamp</th>
        <th scope="col" style="color: white">Stamp</th>
        <th scope="col" style="color: white">Direction</th>
        <th scope="col" style="color: white">Source</th>
        <th scope="col" style="color: white">Destination</th>
        <th scope="col" style="color: white">Message Id</th>
        <th scope="col" style="color: white">Length</th>
        <th scope="col" style="color: white">Status for Tx</th>
        <th scope="col" style="color: white">Data</th>
    </thead>
    <tbody style="overflow-y: scroll;">
        <tr *ngIf="dataCSV.length == 0">
            <td style="color: white"></td>
            <td style="color: white"></td>
            <td style="color: white"></td>
            <td style="color: white"></td>
            <td style="color: white;">pas de donnée</td>
            <td style="color: white;"></td>
            <td style="color: white;"></td>
            <td style="color: white"></td>
            <td style="color: white"></td>
            <td style="color: white"></td>
        </tr>
        <tr *ngFor="let record of dataCSV">
            <td style="color: white"><button class="btn btn-info">Gérer</button></td>
            <td style="color: white">{{record["Date and time[ms]"]}}</td>
            <td style="color: white">{{record["Stamp"]}}</td>
            <td style="color: white">{{record["Direction[In, Out, Undefined"]}}</td>
            <td style="color: white">{{record["Source"]}}</td>
            <td style="color: white">{{record["Destination"]}}</td>
            <td style="color: white">{{record["Message Id"]}}</td>
            <td style="color: white">{{record["Length"]}}</td>
            <td style="color: white">{{record["status for Tx"]}}</td>
            <td style="color: white">{{record["Data"]}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
