<div class="import">
<br/><br/><br/><br/>
<button class="btn-modif">Sélectionner un fichier</button>
<br/><br/>
<table class="table text-white">
    <thead>
        <th scope="col" style="color: white">Manage</th>
        <th scope="col" style="color: white">Date and TimeStamp</th>
        <th scope="col" style="color: white">Stamp</th>
        <th scope="col" style="color: white">Direction</th>
        <th scope="col" style="color: white">Source</th>
        <th scope="col" style="color: white">Destination</th>
        <th scope="col" style="color: white">Message Id</th>
        <th scope="col" style="color: white">Length</th>
        <th scope="col" style="color: white">Status for Tx</th>
        <th scope="col" style="color: white">Data</th>
    </thead>
    <tbody>
        <tr>
            <td style="color: white"><button class="btn btn-info">Manage</button></td>
            <td style="color: white">20-5-2022</td>
            <td style="color: white">98</td>
            <td style="color: white">O</td>
            <td style="color: white">1</td>
            <td style="color: white">2</td>
            <td style="color: white">FEE0</td>
            <td style="color: white">0</td>
            <td style="color: white">ERR</td>
            <td style="color: white">0000000</td>
        </tr>
        <tr>
            <td style="color: white"><button class="btn btn-info">Manage</button></td>
            <td style="color: white">20-5-2022</td>
            <td style="color: white">98</td>
            <td style="color: white">O</td>
            <td style="color: white">1</td>
            <td style="color: white">2</td>
            <td style="color: white">FEE0</td>
            <td style="color: white">0</td>
            <td style="color: white">ERR</td>
            <td style="color: white">0000000</td>
        </tr>
        <tr>
            <td style="color: white"><button class="btn btn-info">Manage</button></td>
            <td style="color: white">20-5-2022</td>
            <td style="color: white">98</td>
            <td style="color: white">O</td>
            <td style="color: white">1</td>
            <td style="color: white">2</td>
            <td style="color: white">FEE0</td>
            <td style="color: white">0</td>
            <td style="color: white">ERR</td>
            <td style="color: white">0000000</td>
        </tr>

        <tr>
            <td style="color: white"><button class="btn btn-info">Manage</button></td>
            <td style="color: white">20-5-2022</td>
            <td style="color: white">98</td>
            <td style="color: white">O</td>
            <td style="color: white">1</td>
            <td style="color: white">2</td>
            <td style="color: white">FEE0</td>
            <td style="color: white">0</td>
            <td style="color: white">ERR</td>
            <td style="color: white">0000000</td>
        </tr>
        <tr>
            <td style="color: white"><button class="btn btn-info">Manage</button></td>
            <td style="color: white">20-5-2022</td>
            <td style="color: white">98</td>
            <td style="color: white">O</td>
            <td style="color: white">1</td>
            <td style="color: white">2</td>
            <td style="color: white">FEE0</td>
            <td style="color: white">0</td>
            <td style="color: white">ERR</td>
            <td style="color: white">0000000</td>
        </tr>

        <tr>
            <td style="color: white"><button class="btn btn-info">Manage</button></td>
            <td style="color: white">20-5-2022</td>
            <td style="color: white">98</td>
            <td style="color: white">O</td>
            <td style="color: white">1</td>
            <td style="color: white">2</td>
            <td style="color: white">FEE0</td>
            <td style="color: white">0</td>
            <td style="color: white">ERR</td>
            <td style="color: white">0000000</td>
        </tr>
        
    </tbody>
</table>
</div>
