<div class="telnetLogo"><img src="../../assets/logo.png" style="float:right;width: 170px;" /></div>
<div class="rapport">
    <h4>Rapport</h4>
    <br />
    <div class="exportArchives" id="htmlData">
        <div class="row p-3 paddedRow borderRow">
            <div class="col-sm text-center pt-3">
                Date du rapport : {{currentDate.toLocaleDateString("en-US")}}
            </div>
            <div class="col-sm text-center pt-3" style="font-weight: bold;font-size: 25px;margin-top: -5px;">
                Rapport
            </div>
            <div class="col-sm text-center pt-3">
                Générer par: {{userConnected.first_name}} {{userConnected.last_name}}
            </div>
        </div>
        <div class="row paddedRow borderRow">
            <div class="col-sm " style="border-right: 1px solid #707070;">
                <h6 class="mt-3 text-center textInside">Actions</h6>
                <h6 class="textInside">Source: {{this.routeData["csvData"]["Source"]}}</h6>
                <h6 class="textInside">Direction: {{this.routeData["csvData"]["Direction[In, Out, Undefined]"]}}</h6>
                <h6 class="textInside">Message Id: {{this.routeData["csvData"]["Message Id"]}}</h6>
            </div>
            <div class="col-sm">
                <h6 class="mt-3 text-center textInside">Resultats</h6>
                <h6 class="textInside">Destination: {{this.routeData["csvData"]["Destination"]}}</h6>
                <h6 class="textInside">Length: {{this.routeData["csvData"]["Length"]}}</h6>
                <h6 class="textInside">Status Tx: {{this.routeData["csvData"]["Status for Tx"]}}</h6>
                <h6 class="textInside">Data: <p>{{this.routeData["csvData"]["Data"]}}</p></h6>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm pt-3 mb-4">
                <h6 class="mt-3">Commentaires:</h6>
                <h6>{{comments()}}</h6>
            </div>
        </div>
    </div>
    <div class="circleExemple" (click)="openPDF()"> <img src="../../assets/icon/up.png" class="up"/>Telecharger</div>
</div>