<div class="telnetLogo"><img src="../../assets/logo.png" style="float:right;width: 170px;" /></div>
<div class="rapport">
    <h4>Rapport</h4>
    <h4>Date du rapport precident : XX/XX/XXXX</h4>
    <br />
    <div class="exportArchives">
        <div class="row p-3 paddedRow borderRow">
            <div class="col-sm text-center pt-3">
                Date du rapport : xx/xx/xxxx
            </div>
            <div class="col-sm text-center pt-3" style="font-weight: bold;font-size: 25px;margin-top: -5px;">
                Rapport
            </div>
            <div class="col-sm text-center pt-3">
                Générer par: xxxxxxxxxxxxx
            </div>
        </div>
        <div class="row paddedRow borderRow">
            <div class="col-sm " style="border-right: 1px solid #707070;">
                <h6 class="mt-3 text-center textInside">Actions</h6>
                <h6 class="textInside">__________________________</h6>
                <h6 class="textInside">__________________________</h6>
                <h6 class="textInside">__________________________</h6>
            </div>
            <div class="col-sm">
                <h6 class="mt-3 text-center textInside">Resultats</h6>
                <h6 class="textInside">__________________________</h6>
                <h6 class="textInside">__________________________</h6>
                <h6 class="textInside">__________________________</h6>
            </div>
        </div>
        <div class="row paddedRow">
            <div class="col-sm pt-3 mb-4">
                <h6 class="mt-3">Commentaires:</h6>
                <h6>_______________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________</h6>
                <h6>_______________________________________________________________________________________________________</h6>
            </div>
        </div>
    </div>
    <div class="circleExemple"> <img src="../../assets/icon/up.png" class="up"/>Telecharger</div>
</div>